# torchvision
onnx
optuna
optuna-dashboard
optuna-fast-fanova
gunicorn
pytest
pylint

# dependency resolution for torch with cuda using pip
# pip install --upgrade --force-reinstall torch==2.0.1+cu117 --index-url https://download.pytorch.org/whl/cu117
